.InventoryContainer{
  margin-left: 5px;
}
.InventoryFlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
}

.InventorySearch {
  flex-grow: 1;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-right: 20px;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  font-size: 16px;
}

.AddGoods {
  padding: 8px 56px;
  background-color: transparent;
  color: #1A1A1A;
  border: 1px #1A1A1A solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.AddGoods:disabled {
  pointer-events: none;
}


.AddGoods:hover {
  background-color: #1A1A1A;
  color: #f1f1f1;
}

.AddGoods:active {
  box-shadow: none;
  transform: translateY(0);
}

.InventoryTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.InventoryTable thead {
  background-color: transparent;
  color: rgb(84, 84, 84);
}

.InventoryTable td{
  height: 70px; /* Adjust this value as needed */
  vertical-align: middle
}

.InventoryTable th,
.InventoryTable td {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  text-align: left;
  
}

.InventoryTable td[data-label="Actions"] {
  align-items: center;
}

 

.action-icon {
  color: #333333;
  margin: 0 5px; 
  cursor: pointer;
}

.action-icon:hover{
  cursor:pointer;
 
}

.InventoryTable th {
  cursor: pointer;
  position: relative;
}

.InventoryTable th .faSortUp,
.InventoryTable th .faSortDown {
  position: absolute;
  right: 15px;
}
.table-image {
  max-width: 50px;
  max-height: 50px;
  
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}
  
.pagination button {
  background-color:transparent;
  color: #1A1A1A;
  border-color: #1A1A1A;
  border-radius: 9px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.pagination button:hover:not(.active) {
  color: #f1f1f1;
}


 

.pagination button.active {
  background-color: transparent;
  color: #f1f1f1;
  border-color: #202020;
  background-color: #1A1A1A;

}

.pagination button:hover:not(.active) {
  background-color: #1A1A1A;
}

.meatball-menu {
  position: relative;
  display: inline-block;
}

.meatball-icon {
  cursor: pointer;
  padding: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.status-available {
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background-color: #D1E7DD;
  border-color: #D1E7DD;
}

.status-not-available {
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background-color: #F8D7DA;
  border-color: #F8D7DA;
}

 


@media (max-width: 768px) {
  .InventoryFlexContainer {
    flex-direction: column;
    align-items: stretch;
  }
  
  .InventorySearch {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .AddGoods {
    max-width: 100%;
  }

  .InventoryTable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    border: none;
  }

  .InventoryTable thead {
    display: none;
  }

  .InventoryTable tbody, .InventoryTable tr {
    display: contents;
  }

  .InventoryTable td {
    display: block;
    padding: 10px;
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .InventoryTable td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-size: 0.8em;
    color: #666;
  }

  .InventoryTable td:first-child {
    background-color: #4C300A;
    color: white;
    font-weight: bold;
  }

  .table-image {
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 10px auto;
  }

  .InventoryTable td:last-child {
    display: flex;
    justify-content: space-around;
    padding: 15px;
  }

  .action-icon {
    font-size: 1.2em;
  }
  .InventoryTable td:last-child {
    display: block;
    text-align: center;
    padding: 15px;
  }

  .meatball-menu {
    display: inline-block;
  }

  .dropdown-menu {
    position: static;
    display: block;
    border: none;
    box-shadow: none;
    margin-top: 10px;
  }

  .dropdown-item {
    padding: 8px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 4px;
  }
}

@media (max-width: 480px) {
  .pagination button {
    padding: 8px 16px;
    font-size: 12px;
  }
  .dropdown-item {
    font-size: 14px;
  }
}