 
body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container{
  margin: 0;
  padding: 0;
  height: 100%;
}

.PosDashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
  transition: all 0.3s ease;
  overflow-x: hidden;
}


.PosSidePanel.open {
  left: 0;
}


.PosSidePanel.closed {
  left: -220px;
}


.logo-container {
  margin-bottom: 20px;
}
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 150; 
  display: none;
}

.sidebar-open .sidebar-overlay {
  display: block;
}

.PosSidePanel ul {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Full width for the list */
}
.PosSidePanel ul li {
  padding: 10px 0;
  text-align: left;
  cursor: pointer;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: flex-start;  
}

.PosSidePanel {
  width: 220px;
  background-color: #E7DDCD;
  color: #1A1A1A;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: -220px;
  top: 0;
  transition: all 0.3s ease;
  z-index: 160;
}


.menu-item i {
  font-size: 14px;
  margin-right: 10px;
  padding-left: 10px;
}

.menu-item {
  margin-bottom: 10px;
  width: 100%; /* Full width for the menu item */
}

.logout {
  margin-top: auto; /* Push the logout button to the bottom */
}

.PosContent {
  flex: 1;
  padding: 20px;
   transition: all 0.3s ease;
}

.sidebar-closed .PosContent {
  margin-left: 0;
}
.toggle-sidebar {
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  color: #1A1A1A;
  padding: 10px;
  cursor: pointer;
  z-index: 200;
}

.close-sidebar {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-closed .toggle-sidebar {
  left: 0;
}
 

@media (min-width: 769px) {
  .PosSidePanel {
    left: 0;
  }
  .sidebar-overlay {
    display: none !important;
  }

  .PosContent {
    margin-left: 220px;
  }

  .toggle-sidebar {
    display: none;
  }

  .close-sidebar {
    display: none;
  }
}
 
 