.SalesRecordContainer {
    margin-left: 5px;
  }
  
  .SalesRecordFlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  
  .SalesRecordSearch {
    flex-grow: 1;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-right: 20px;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    font-size: 16px;
  }
  
  .SalesRecord-DateOptions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .SalesRecord-DateOptions select,
  .SalesRecord-DateOptions .react-datepicker-wrapper {
    
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: transparent;
  }

  .SalesRecordTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .SalesRecordTable thead {
    background-color: transparent;
    color: rgb(84, 84, 84);
     
  }
  
  .SalesRecordTable th,
  .SalesRecordTable td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    text-align: left;
;
  }
  
  .SalesRecordTable th.sort-header {
    position: relative;
  }
  
  .SalesRecordTable td[data-label="Actions"] {
 
    align-items: center;
  }
  .salerecord-action-icon {
    color: #333333;
    margin: 0 5px; 
  }

  .salerecord-action-icon:hover{
    cursor:pointer;
   
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
  }

  .order-status {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .export-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .export-button {
    padding: 8px 16px;
    background-color: transparent;
    color: #1A1A1A;
    border: 1px #1A1A1A solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .export-button:hover {
    background-color: #1A1A1A;
    color: #f1f1f1;
  }

  .report-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .stat-box {
    background-color: transparent;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    flex: 1;
    margin: 0 10px 10px 0;
    min-width: 120px;
  }
  
  .stat-value {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #1A1A1A;
  }
  
  .stat-label {
    display: block;
    font-size: 14px;
    color: #6c757d;
    margin-top: 5px;
  }

  .action-icon{
    color: #1A1A1A;
  }
  
  @media (max-width: 768px) {
    .SalesRecordFlexContainer {
      flex-direction: column;
      align-items: stretch;
    }
    .SalesRecord-DateOptions {
      flex-direction: column;
      align-items: stretch;
    }
  
    .export-buttons {
      flex-wrap: wrap;
    }
    .SalesRecordSearch {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .SalesRecordTable {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      border: none;
    }
  
    .SalesRecordTable thead {
      display: none;
    }
  
    .SalesRecordTable tbody, .SalesRecordTable tr {
      display: contents;
    }
  
    .SalesRecordTable td {
      display: block;
      padding: 10px;
      text-align: left;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
  
    .SalesRecordTable td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
      font-size: 0.8em;
      color: #666;
    }
  
    .SalesRecordTable td:first-child {
      background-color: #4C300A;
      color: white;
      font-weight: bold;
    }
  
    .SalesRecordTable td:last-child {
      display: flex;
      justify-content: space-around;
      padding: 15px;
    }
  
    .dropdown-menu {
      position: static;
      display: block;
      border: none;
      box-shadow: none;
      margin-top: 10px;
    }
  
    .dropdown-item {
      padding: 8px;
      background-color: #f9f9f9;
      margin-bottom: 5px;
      border-radius: 4px;
    }
  }
  
  @media (max-width: 480px) {
    .pagination button {
      padding: 8px 16px;
      font-size: 12px;
    }
  }