.SuperAdminContainer {
  overflow-x: hidden;
  width: 100%; /* Ensure the container takes the full width */
 }

.SuperAdminFlexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.UserSearch {
  flex-grow: 1;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-right: 20px;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  font-size: 16px;
}

.AddUser {
  padding: 8px 56px;
  background-color: transparent;
  color: #1A1A1A;
  border: 1px #1A1A1A solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.UsersTable {
  flex-grow: 1;
  width: 100%; /* Ensure the table container takes the full width */
   overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.UsersTable table {
  width: 100%; /* Ensure the table takes the full width */
  border-collapse: collapse; /* Ensure borders collapse */
}

.UsersTable thead {
  background-color: transparent;
  color: rgb(84, 84, 84);
}

.UsersTable th,
.UsersTable td {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  text-align: left; /* Ensure text is aligned to the left */
}

.UsersTable td[data-label="Actions"] {
  display: flex; /* Align action icons horizontally */
  align-items: center;
}

.action-icon {
  color: #333333;
  margin: 0 5px;
  cursor: pointer;
}

.action-icon:hover {
  cursor: pointer;
}

.UsersTable th {
  cursor: pointer;
  position: relative;
}

.UsersTable th .faSortUp,
.UsersTable th .faSortDown {
  position: absolute;
  right: 15px;
}
