.main-content {
  margin-left: 180px; /* Match the width of your desktop header */
  width: calc(100% - 180px);
  overflow-x: hidden;
}

.Homepage-product-showcase {
    text-align: center;
    margin: 20px;
  }
  
  .Homepage-product-showcase h2 {
    font-size: 3.4rem;
    margin-bottom: 10px;
  }
  
  .Homepage-product-showcase p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .Homepage-product-showcase button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  .product-carousel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product-item {
    width: 200px;
    margin: 10px;
    text-align: center;
  }
  
  .product-item img {
    width: 100%;
    height: auto;
  }
  
  .product-item h3 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .Homepage-social-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    margin: 20px;
  }
  
  .post-item iframe {
    width: 100%;
    height: auto;
  }
  

  .features-section {
  text-align: center;
  margin: 40px 20px;
}

.features-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.features-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.feature-item {
  max-width: 300px;
  text-align: center;
  padding: 20px;
}

.feature-item img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.feature-item h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
  margin-bottom: 10px;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  background: #000;
  color: #fff;
  font-weight: bold;
 }

.marquee-content {
  display: flex;
  position: relative;
}

.marquee-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 10px 20px;
  white-space: nowrap;
}

.marquee-item img{
  width: 40px;
   align-items: center;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0; /* Remove left margin */
    width: 100%; /* Adjust width to full */
  }
}
