@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    border: 0;
    margin: 0;
 
}

.layout {
    display: flex;
    flex-direction: row;
    border: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

 

.desktop-header {
    width: 180px;
}

.container {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body {
    margin: 0;
    padding: 0;
}

.main-content {
    flex-grow: 1;
    margin-left: 220px;
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .mobile-header {}
    .main-content {
        flex-grow: 1;
        margin-left: 0;
    }

}

